.encabezado {
    background-color: #497174;
    padding: 30px;
}

.biografia {
    background-color: #F49D1A;
    padding: 30px;
}

.uno {
    background-color: #DEBACE;
    padding: 30px;
}

.dos {
    background-color: #B6E2A1;
    padding: 30px;
}